<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="log" class="com.gc.action.LogAround"/>
    <bean id="timeBook" class="com.gc.action.TimeBook"/>
    <!--设定代理类-->
    <bean id="logProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!--这里是代理的接口-->
        <property name="proxyInterfaces">
            <value>com.gc.impl.TimeBookInterface</value>
        </property>
        <!--程序中的Advice-->
        <property name="target">
            <ref bean="timeBook"/>
        </property>
        <!--是ProxyFactoryBean要代理的目标类-->
        <property name="interceptorNames">
            <list>
                <value>log</value>
            </list>
        </property>
    </bean>

    <!--设定代理类的制定方法-->
    <bean id="logAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref bean="log"/>
        </property>
        <!--制定要代理的方法-->
        <property name="patterns">
            <value>*.doAuditing.*</value>
        </property>
    </bean>
    <!--设定代理类-->
    <bean id="logProxy1" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>com.gc.impl.TimeBookInterface</value>
        </property>
        <property name="target">
            <ref bean="timeBook"/>
        </property>
        <property name="interceptorNames">
            <list>
                <value>logAdvisor</value>
            </list>
        </property>
    </bean>

    <!--使用依赖注入完成变量值得设定-->
    <bean id="date" class="java.util.Date"/>
    <bean id="HelloWorld" class="com.gc.action.HelloWorld" depends-on="date">
        <property name="msg">
            <value>HelloWorld</value>
        </property>
        <!--使用Bean进行参考-->
        <property name="date">
            <ref bean="date"/>
        </property>
    </bean>

    <!--使用spring提供的ProxyFactoryBean来实现代理-->
    <bean id="logProxy2" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>com.gc.impl.TimeBookInterface</value>
        </property>
        <property name="target">
            <ref bean="timeBook"/>
        </property>
        <!--制定要实现的代理类-->
        <property name="interceptorNames">
            <list>
                <value>log</value>
            </list>
        </property>
    </bean>
</beans>
