<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--配置初始化和销毁方法-->
    <bean id="helloWorld" class="com.spring.tutorialspoint.www.HelloWorld" init-method="init" destroy-method="destroy">
        <property name="message" value="Hello World!"/>
        <property name="message1" value="Hello World! message1"/>
        <property name="message2" value="Hello Second World! message2"/>
    </bean>

    <!--子类包含父类的所有参数以及方法-->
    <bean id="helloIndia" class="com.spring.tutorialspoint.www.HelloIndia" parent="helloWorld">
        <property name="message1" value="Hello India!"/>
        <property name="message3" value="Namaste India!"/>
    </bean>

    <!-- Definition for textEditor bean using inner bean -->
    <bean id="textEditor" class="com.spring.tutorialspoint.www.TextEditor">
        <property name="spellChecker">
            <bean id="spellChecker" class="com.spring.tutorialspoint.www.SpellChecker"/>
        </property>
    </bean>

    <!-- Definition for javaCollection -->
    <bean id="javaCollection" class="com.spring.tutorialspoint.www.JavaCollection">

        <!-- results in a setAddressList(java.util.List) call -->
        <property name="addressList">
            <list>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </list>
        </property>

        <!-- results in a setAddressSet(java.util.Set) call -->
        <property name="addressSet">
            <set>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </set>
        </property>

        <!-- results in a setAddressMap(java.util.Map) call -->
        <property name="addressMap">
            <map>
                <entry key="1" value="INDIA"/>
                <entry key="2" value="Pakistan"/>
                <entry key="3" value="USA"/>
                <entry key="4" value="USA"/>
            </map>
        </property>

        <!-- results in a setAddressProp(java.util.Properties) call -->
        <property name="addressProp">
            <props>
                <prop key="one">INDIA</prop>
                <prop key="two">Pakistan</prop>
                <prop key="three">USA</prop>
                <prop key="four">USA</prop>
            </props>
        </property>
    </bean>

    <bean id="cStartEventHandler" class="com.spring.tutorialspoint.www.CStartEventHandler"></bean>
    <bean id="cStopEventHandler" class="com.spring.tutorialspoint.www.CStopEventHandler"></bean>

    <bean id="customEventHandler" class="com.spring.tutorialspoint.www.CustomEventHandler"/>
    <bean id="customEventPublisher" class="com.spring.tutorialspoint.www.CustomEventPublisher"/>
    <!--注入null-->
    <!--
        <bean id="..." class="exampleBean">
            <property name="email"><null/></property>
        </bean>
        -->
    <!--before and after initialization-->
    <bean id="initHelloWorld" class="com.spring.tutorialspoint.www.InitHelloWorld"/>

    <bean id="mainTask" class="com.TimerTask.www.MainTask"/>
    <!--设置动作启用定时任务-->
    <task:annotation-driven />
    <!--use to activate Spring MVC annotation scanning capability which allows to make use of annotations like @Controller and @RequestMapping etc.-->
    <!--<context:component-scan base-package="com.*"/>-->
</beans>